.main-content {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    align-items: center;
  }
  .bgText_home{
    color: rgb(251, 235, 214);
  }
  @media (max-width: 768px) {
    .bgText_home{
        font-size: 25px;
    }
    .main-content{
      height: max-content;
      margin-top: 50px;
    }
}