/* d-flex w-100 vh-100 justify-content-center align-items-center bg-light */
.main-content{
  display: flex;
  flex-direction: column;
  height:1000px;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 92, 92);
}
/* w-50 border bg-white shadow px-5 pt-3 pb-5 rounded */
.main-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:500px;
  height:800px;
  background-color: rgb(238, 235, 230);
  box-shadow: 5px 5px 5px black;
  border-radius:20px;
 padding: 30px;
  font-size: 20px;
}
input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
}
label{
  padding: 10px;
  margin: 10px;
}
input:focus{
  background-color: grey;
}
.formSubmit{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
