body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  margin: 0; /* Ensure there's no margin on the body */
  position: relative; /* Ensure the body is positioned correctly *//* Prevents scrollbars caused by the pseudo-element */
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
